<h1 id="tableLabel">lista Usuario</h1>



<p *ngIf="!listaUsuario"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" >
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido.</th>
            <th>identificacion</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of listaUsuario ">
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.identificacion }}</td>
            <td>{{ usuario.email }}</td>
        </tr>
    </tbody>
</table>